.body_class{
    background: #ffffff
}
.card_things{
    width: 35rem;
    margin-top:2.5rem;
}
.create_comment_input{
    width:35rem !important;
}
.form_input_details{
    width:20rem !important;
}
.q_anchor{
    font-family:monospace; 
    font-size:2rem !important;
}
.login_details{
    padding-right: 24rem;
}
.login_div{
    margin-top:5rem;
    height:20rem;
}
.login_form{
    width:25rem;
    height:30rem;
    box-shadow:0px 4px 6px #888888;
}
.login_form_q{
    text-align:center;
    margin-left:-27px;
    font-family:monospace;
    font-size:3rem;
}
.login_quote{
    font-family: monospace;
}
.messages_details{
    text-align: center;
}
.messages_font{
    color:white !important;
}
.nav_details{
    box-shadow: 0 2px 4px #888888;
}
.post_block {
    min-height: 200px;
}
.post_content_textarea{
    height: 7rem !important;
}
.side_details_list{
    width:20rem;
}
.side_details_list_item{
    font-size: 1rem ;
}
.title_details{
    font-family: monospace;
}
