{% extends 'quora/index.html' %}

{% block content %}
<div class="card card_things">
    <div class="card-body">
        <div class="card-title">
            <h5>{{post.title|title}}</h5>
            <h6>by {{post.user.username|title}}</h6>
        </div>
        <div class="dropdown-divider"></div>
        <div class="card-text">
            <div class="col-sm-12 pl-0">
                <p>{{post.content}}</p>
            </div>
        </div>
    </div>
</div>
<form action="{%url 'quora:createComment' post.id%}" method="POST">
    {% csrf_token %}
    <label for="content" class="mt-2">Comment:</label>
    <input class="form-control create_comment_input" id="content" name="content">
    <br>
    <br>
    <button class="btn btn-primary">Save</button>
</form>
{% endblock %}