{% extends 'quora/index.html' %}
{% block content %}
<div class="head_margin">
{% if post %}
<form action="{% url 'quora:editPostSave' post.id %}" method="POST">
    {% csrf_token %}
    <h3>Edit post </h3>
    <!-- <input type="submit" value="save" /> -->
    <div class="form-group">
        <label for="title">Post title:</label>
        <input id="title" class="form-control" name="title" value="{{post.title}}" />
    </div>

    <div class="form-group">
        <label for="content">Post content:</label>
        <textarea id="content" name="content" class="form-control post_content_textarea">{{post.content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'quora:index' %}">Cancel</a>

</form>

{% else %}
<form action="{% url 'quora:createPost' %}" method="POST">
    {% csrf_token %}
    <h3>Create a post </h3>
    <div class="form-group">
        <label for="title">Post title:</label>
        <input id="title" class="form-control" name="title" />
    </div>
    <br>
    <br>
    <div class="form-group">
        <label for="content">Post content:</label>
        <textarea id="content" class="form-control post_content_textarea" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
    <a href="{% url 'quora:index' %}">Cancel</a>
</form>

{%endif%}
</div>
{% endblock %}