{% extends 'quora/index.html' %}
{% block content %}
<div class="card card_things">
    <div class="card-body">
        <div class="card-title">
            <h5>{{post.title|title}}</h5>
            <h6>by {{post.user.name|title}}</h6>
        </div>
        <div class="dropdown-divider"></div>
        <div class="card-text">
            <div class="col-sm-12 pl-0">
                <p>{{post.content}}</p>
            </div>
        </div>
    </div>
</div>
{%if comment%}

<form action="{%url 'quora:editComment' comment.id %}" method='POST'>
    {% csrf_token %}

    <div class="form-group">
        <label for="content">Comment</label>
        <input id="content" class="form-control" name="content" value="{{comment.content}}">
        <br>
        <h6>by {{comment.by.name|title}}</h6>

    </div>
    <button type='submit' class="btn btn-primary" value="Save">Save</button>
</form>
{%endif%}
{% endblock %}