{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title class="title_details">Q</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'quora/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body_class" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav_details">
        <a class="navbar-brand q_anchor" href="{% url 'quora:index'%}">Q</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'quora:index' %}"><i class="fas fa-home mr-1"></i>Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'quora:createPostPage' %}"><i
                            class="far fa-plus-square mr-1">
                        </i>New Post</i></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right login_details">
                {% if username %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> {{username|title}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'quora:userLogout' %}">logout</a>
                        <a class="dropdown-item" href="{% url 'quora:changePasswordPage' %}">Change Password</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'quora:loginpage' %}"><i class="fas fa-sign-in-alt"></i>
                        Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'quora:signup' %}"><i class="fas fa-user-plus"></i>
                        Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        {% csrf_token %}
        {% if messages %}
        <div class="messages messages_details" >
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <span {% if message.tags %} class="{{ message.tags }} badge badge-success messages_font"
                {% endif %}>{{ message }}</span>
            {% else %}
            <span {% if message.tags %} class="{{ message.tags }} badge badge-danger messages_font"
                {% endif %}>{{ message }}</span>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="row pl-10">
            <div class="col-sm-3">
                <ul class="list-group list-group-flush side_details_list">
                    <a href="{% url 'quora:userPosts' username %}"
                        class="list-group-item list-group-item-action side_details_list_item"><i
                            class="fas fa-rss mr-1"></i>Posts by me</a>
                </ul>
            </div>
            <div class="col-sm-8">
                {% block content %}
                {% if latest_post_list %}
                {% for p in latest_post_list %}
                <div class="card card_things">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>{{p.title|title}}</h5>
                            <div class="dropdown-divider"></div>
                            <h6>by <a href="{% url 'quora:userPosts' p.user.name %}">{{p.user.name|title}}</a></h6>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="card-text">
                            <div class="col-sm-12 padding_left">
                                <p>{{p.content}}</p>
                            </div>
                            <div class="col-sm-12 padding_left">
                                {{p.likes}}
                                {% if p.liked_by_session_user %}
                                <a href="{% url 'quora:like' p.id %}"><i class="fas fa-thumbs-up"></i></a>
                                {% else %}
                                <a class="action_margin" href="{% url 'quora:like' p.id %}"><i
                                        class="far fa-thumbs-up"></i></a>
                                {% endif %}
                                <a class="action_margin" href="{% url 'quora:commentPage' p.id%}"><i
                                        class="far fa-comment-dots"></i></a>
                                {% if p.user.name == username %}
                                <a class="action_margin" href="{% url 'quora:editPostPage' p.id %}"><i
                                        class="far fa-edit"></i></a>
                                {% endif %}
                                <a class="action_margin" href="{% url 'quora:viewPost' p.id %}"><i
                                        class="fas fa-envelope-open-text"></i></a>

                            </div>
                            <div class="col-sm-12 padding_left mt-2">
                                {%if p.comment%}
                                <b>Answers:</b>
                                {%for c in p.comment%}
                                <div class="mt-1">
                                    <span>{{c.content}}</span>
                                    by <a href="{% url 'quora:userPosts' c.commented_by.name %}">
                                        {{c.commented_by.name|title}}</a>
                                    {% if p.user.name == username %}
                                    <a href="{% url 'quora:editCommentPage' p.id c.id %}"><i
                                            class="far fa-edit"></i></a></a>
                                    {%endif%}
                                </div>
                                {%endfor%}
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
                {%endblock%}

            </div>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/cf349ddf9d.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>