<a href="{% url 'quora:index' %}">Home</a>
{%if post_list_by_user %}
{% for p in post_list_by_user %}
<div class="post_block">
    <h3>
        {{p.title}}
    </h3>
    <p>
        {{p.content}}
    </p>
    <h5>
        by {{p.user.name}}
    </h5>
    <p> Like{{p.likes|pluralize}}</p>
    <a href="{% url 'quora:like' p.id %}">Like</a>
    <a href="{% url 'quora:editPostPage' p.id %}">Edit</a>
    <a href="{% url 'quora:viewPost' p.id %}">View</a>
</div>

{% endfor %} 
{% else %}
    <p>No posts by you</p>
    <a href="{% url 'quora:createPostPage' %}">You can create here</a>
{% endif %}

